allow qti_init_shell bluetooth_loader_exec:file getattr;
allow qti_init_shell bluetooth_loader_exec:file execute;
allow qti_init_shell bluetooth_loader_exec:file { open read };
allow qti_init_shell bluetooth_loader_exec:file execute_no_trans;
allow qti_init_shell efs_file:dir search;
allow qti_init_shell bluetooth_efs_file:dir search;
allow qti_init_shell bluetooth_efs_file:file read;
allow qti_init_shell bluetooth_efs_file:file open;
allow qti_init_shell bluetooth_efs_file:file getattr;